# Updated versions to match Google Collaboratory Python 3 workspace
# depends on your platform. It is assumed you have already installed tensorflow.
falcon==2.0.0
inflect==2.1.0
librosa==0.6.3
matplotlib==3.0.3
numpy==1.16.3
scipy==1.2.1
tqdm==4.28.1
Unidecode==1.0.23
